@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--tg-color-scheme);
	background: var(--tg-color-scheme);
	font-family: 'Roboto', sans-serif;
}

input {
	appearance: none;
	border-radius: 0;
}

button {
	outline: none;
	cursor: pointer;
}